/*  ----Colors----- */

//Primary
$color-primary: #eee;
$color-primary-light: #002;
$color-primary-dark: #002;

//Secondary
$color-secondary: #w02;
$color-secondary-light: #002;
$color-secondary-dark: #002;

//Tertiary

// Other Colors


/*  ----Grids----- */
$grid-width: 118rem;


/*  ----Font Sizes----- */



