.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-round-corners-sm {
  border-radius: 0.2rem;
}

.u-round-corners-md {
  border-radius: 1.5rem;
}

.u-round-corners-lg {
  border-radius: 2.5rem;
}
